* {
    padding: 0;
    margin: 0;
    border: 0;
}

article {
    color : white;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

a{
    text-decoration: none;
}

.title {
    text-align: center;
    color:black;

}

p {
	font-family: sans-serif;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    color : black;
    padding: 0.75em 5em;
}

html, body {
    width: 100%;
    height: 100%;
}

.bgImage {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100%;
    padding: 1.5em 1.5em;
}

#img1 {
    background-image: url("portsmouth_image_1.jpg");
}

#img2 {
    background-image: url("portsmouth_image_2.jpg");
}

#img3 {
    background-image: url("portsmouth_image_3.jpg");
}

#img4 {
    background-image: url("portsmouth_image_4.jpg");
    text-align: center;
}

.text-container {
    background-color: #ffffff;
    opacity: 0.7;
}

#fish {
    width: 30%;
    margin: auto;
    display: block;
    padding: 5%;
}

video {
    max-width: 100%;
    object-fit: contain;
}
ul {
    padding: 0;
    margin: 0;
    background-color: #333;
    list-style-type: none;
    overflow: hidden;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    font-size: 1em;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1.0em 1.0em;
}

nav a:hover {
    background-color: black;
}

@media screen and (max-width: 30.0em) {
    h1 {
        left: 0;
        width: 100%;
    }

    p {
        left: 0;
        padding: 0.75em 2em;
    }

    nav ul li {
        float: none;
    }

    ul li a {
        padding: 0.75em;
    }
}

footer {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #333;
    position: absolute;
}

#UP {
    color: black;
    float: left;
    padding: 1em;
}

#w3c {  
    max-width: 5%;
    float: right;
    padding: 1em;
}

#one {
    text-shadow: 0 0 0.5em white;
}

.htmlImages{
    margin: auto;
    display: block;
    padding: 5%;
}

#darth_vader{
    width: 30%;
}

#week_7_code1{
    width: 70%;
}

#week_7_code2{
    width: 35%;
}

#week_7_code3{
    width: 30%;
}

#week_9_mvc{
    width: 50%;
}

#week_10fc{
    width: 50%;
}

#week_12_code{
    width: 40%;
}

#week_13_code{
    width: 50%;
}

#week_14_code{
    width: 50%;
}